version: '3'
services:
  front:
    image: parkseyun/howdoilook:front
    container_name: front
    ports:
      - "3000:3000"
    depends_on:
      - back

  back:
    image: parkseyun/howdoilook:back
    container_name: back
    ports:
      - "8081:8081"

  redis:
    image: redis
    container_name: redis
    ports:
      - 6000:6000
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "9080:80"
      - "9443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/live/i9b304.p.ssafy.io/fullchain.pem:/etc/letsencrypt/live/i9b304.p.ssafy.io/fullchain.pem
      - /etc/letsencrypt/live/i9b304.p.ssafy.io/privkey.pem:/etc/letsencrypt/live/i9b304.p.ssafy.io/privkey.pem
    depends_on:
      - front
      - back
      - redis