version: '3'
services:
  front:
    image: parkseyun/howdoilook:front
    container_name: front
    ports:
      - "3000:3000"
    depends_on:
      - back

  back:
    image: parkseyun/howdoilook:back
    container_name: back
    ports:
      - "8081:8081"

  redis:
    image: redis
    container_name: redis
    ports:
      - 6000:6000
    restart: always

  nginx:
    image: nginx
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/live/i9b304.p.ssafy.io/fullchain.pem:/etc/letsencrypt/live/i9b304.p.ssafy.io/fullchain.pem
      - /etc/letsencrypt/live/i9b304.p.ssafy.io/privkey.pem:/etc/letsencrypt/live/i9b304.p.ssafy.io/privkey.pem
#      - /var/jenkins_home/workspace/deployment-pipeline/nginx/nginx.conf:/var/jenkins_home/workspace/deployment-pipeline/nginx/nginx.conf
#    depends_on:
#      - front
#      - back
#      - redis

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /jenkins:/var/jenkins_home
    ports:
      - "9090:8080"
#    depends_on:
#      - front
#      - back


