.wrapper {
    background-image: url("../../../../public/img/common/total_bg.jpg");
    /* background-repeat: repeat-y; */
    width: 100%;
    height: 100vh;
    /* background-color: rgb(254, 240, 214); */
}