.total{
    width: 100%;
    height: 100%;
}

/* 헤더 */
.header{
    /* 크기 */
    width: 100%;
    height: 70px;

    /* 컬러 */
    /* background-color: antiquewhite; */

    /* 위치 */
    margin-bottom: 5%;
}


/* 메인 컨텐츠 */
.main{
    width: 100%;
    display: flex;
}

.menuArea{
    width: 500px;
    /* background-color: bisque; */

    display: flex;
    justify-content: center;
}

.menuArea > div{
    position: sticky;
    top: 0;
}

.closetContainer{
    display: flex;
    justify-content: center;
}

.closetContainer > .closet{
    margin-right: 5%;
}

.title{
    /* 사이즈 */
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    
    /* 위치 조정 */
    line-height: 30px;
    margin-bottom: 3%;
    
    /* 폰트 */
    font-size: 15px;
    font-weight: 900;
    font-family: 'Pretendard-Regular';

    /* 컬러 */
    background-color: var(--signiture);
    color: white;
    
}

.addBtnContainer{
    /* 위치 */
    display: flex;
    justify-content: end;
    margin-top: 3%;
    margin-bottom: 3%;

    /* 크기 */
    width: 800px;
    height: 50px;
    
}
.addBtn{
    /* 크기 */
    width: 100px;
    height: 100%;

    /* 컬러 */
    background-color: var(--signiture);
    color:white;
    /* 커서 */
    cursor: pointer;
}


.closetList{
    /* 크기 */
    width: 800px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
}

/* 아이템이 없을 경우 */
.noItem{
    /* 위치 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 크기 */
    width: 750px;
    height: 400px;

    /* 폰트 */
    font-weight: 900;
}

.paginationContainer{
    width: 800px;
    margin-bottom: 10%;
}

.createModal{
    position: absolute;
    margin-left: 30%;
    margin-top: -1800px;
    z-index: 10;
}

/* 푸터 */
.footer{
    /* 크기 */
    height: 200px;

    /* 위치 */
    margin-top: 10%;
}