.total{
    /* 크기 */
    width: 100%;
    height: 100%;
}

/* 헤더 */
.header{
    /* 크기 */
    width: 100%;
    /* height: 70px; */

    /* 컬러 */
    /* background-color: antiquewhite; */

    /* 위치 */
    margin-bottom: 5%;
}


/* 메인 컨텐츠 */
.main{
    /* 크기 */
    width: 100%;

    /* 위치 */
    display: flex;
    flex-direction: row;
}

.menuArea{
    /* 크기 */
    width: 500px;
    flex-shrink: 1;

    display: flex;
    justify-content: center;
}

.menuArea > div{
    position: sticky;
    top: 0;
}

.contentArea{
    /* 가운데에 있는 리스트 */
    width: 700px;
    
    /* 크기 */
    flex-shrink: 3;

    /* 위치 */
    display: flex;
    flex-direction: column;
}

.contentArea{
    /* 랭킹 타이틀, select, 시간 */
    display: flex;
    
}
.titleSelectWrapper{
    display: flex;
    justify-content:space-between;
    
    align-items: center;
}

.titleSelect{
    /* 위치 */
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 3%;

    /* 크기 */
    width: 300px;
}

.titleSelect > div:nth-child(1){
    /* feed 찐 타이틀 */
    /* 사이즈 */
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    
    /* 위치 조정 */
    line-height: 30px;
    margin-bottom: 3%;
    
    /* 폰트 */
    font-size: 15px;
    font-weight: 900;
    font-family: 'Pretendard-Regular';

    /* 컬러 */
    background-color: var(--pinkes);
    color: white;
}

/* select */
select::-ms-expand { 
	display: none;
}
.select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select{
    width: 150px;
    height: 30px;
    margin-left: 5%;
}

.paginationContainer{
    margin-top: 20%;
}

/* 푸터 */
.footer{
    /* 크기 */
    height: 200px;

    /* 위치 */
    margin-top: 10%;
}