.modal{
    background-color: white;
    width: 500px;
    height: 500px;
    margin-left: 45%;
    margin-top: -100px;
}

.title{
    /* 사이즈 */
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    
    /* 위치 조정 */
    line-height: 30px;
    margin-bottom: 10%;
    margin-left: 5%;

    /* 폰트 */
    font-size: 15px;
    font-weight: 900;
    font-family: 'Pretendard-Regular';

    /* 컬러 */
    background-color: var(--pinkes);
    color: white;
    
}

.statement{
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-weight: 900;
    padding-top: 10%;
    z-index: 1;
}

.badgeList{
    width: 100%;
    height: 300px;
}
.badges{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.LovelyBadge, .SexyBadge, .ModernBadge, .NaturalBadge{
    margin-right: 5px;
    height: 110px;
}
.LovelyBadge:hover, .SexyBadge:hover, .ModernBadge:hover, .NaturalBadge :hover{
    background-color: pink;
}
.LovelyBadge > img, .SexyBadge > img, .ModernBadge > img, .NaturalBadge > img{
    width: 100px;
    height: 100%;
    border: 1px solid black;
}

.badgeName{
    font-size: 13px;
    font-weight: 900;
}

.btns{
    display: flex;
}
.btns > button{
    width: 100%;
    height: 50px;
    background-color: var(--pinkes);
    color: white;
}
.btns > button:nth-child(1){
    border-right:1px solid white;
}