.feedSlot{
    width:300px;
    height: 300px;
    background-color: var(--border);

    margin-right: 30px;
    margin-bottom: 30px;

    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);

}
.onefeed{
    /* nothing */
}
.bgColor{
    /* 위치 */
    position: absolute;
    z-index: 2;
    top:114%;

    /* 크기 */
    width: 300px;
    height: 300px;
    border-radius: 1rem;

    /* 컬러 */
    background-color: black;
    opacity: 0.6;
}

.btn{
    /* 크기 */
    width: 70px;
    height: 50px;

    /* 위치 */
    position: absolute;
    margin-left: -2%;
    margin-top: -180px;
    z-index: 5;
}

.btn:hover{
    background-color: var(--pinkes);
    color:white;
}

.slide{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.slide img{
    /* 크기 */
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* 위치 */
    margin: 0 auto;

    border-radius: 1rem;
}