:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #ffffff;
    --greyLight-1: #e4ebf5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --signiture: #4570F5;
}

*{
    font-family: 'Pretendard-Regular';
}

.modal{
    /* 위치 */
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;

    /* 크기 */
    width: 500px;
    height: 750px;
    border-radius: 1rem;

    /* 컬러 */
    background-color: white;
}

.modalHeader{
    /* 위치 */
    display: flex;
    justify-content: space-between;
    padding: 5%;
    align-items: center;

    /* 폰트 */
    font-weight: 700;
}

.modalHeader >img{
    width: 5%;
    height: 5%;
    cursor: pointer;
}

/* 이미지 */
.imgRegist{
    /* 요소 한가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;

    /* 그림자 */
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    
    /* 크기 */
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 3%;
}

.imgRegist > input{
    /* 크기 */
    width: 100%;
}

.selectFile{
    /* 위치 */
    text-align-last: center;
    margin: 0 auto;
    margin-top: 5%;
}


.select{
    /* 크기 */
    width: 307.2px;
    height: 25px;
    /* border-radius: 1rem; */
}
.select:focus{
    border-color: var(--signiture);
    outline: none;
}
.input{
    /* 크기 */
    width: 300px;
    height: 25px;
    /* border-radius: 1rem; */
}
.input:focus{
    border-color: var(--signiture);
    outline: none;
}


.line{
    /* 위치 */
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 10%;
    
}

.line > p{
    /* 위치 */
    margin-right: 3%;
}

.line:nth-child(1)>input{
    margin-left: 1px;
}


/* 버튼 */
.buttons{
    /* 위치 */
    display: flex;
    justify-content:flex-end;
    margin-top: 5%;
    margin-right: 8%;
}

.buttons > button{
    /* 크기 */
    width: 70px;
    height: 30px;
    border-radius: 1rem;

    /* 위치 */
    margin-right: 2%;
}

.buttons > button:hover{
    /* 컬러 */
    background-color: var(--signiture);
    color: white;
}


/* 이미지 */
.img{
    /* 틀 안에 이미지가 빠져나오지 않게 맞추기 */
    width: 100%;
    height: 100%;
    object-fit: contain; 
}