.totalArea{
  /* 위치 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneCloset{
  /* 크기 */
  width: 330px;
  height: 550px;
  border-radius: 1rem;

  /* 위치 */
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.ootd{
  /* 위치 */
  margin-top: 15%;
  margin-left: 10%;

  /* 크기 */
  width: 120px;
  height: 300px;
}
.carousal{
  /* 크기 */
  width:130px;

  /* 위치 */
  margin-top: -2%;
}
.carousal:nth-child(2){
  /* 위치 */
  margin-top: -20%;
}


.slide{
  /* 크기 */
  width:30%;
  height:30%;
}

.slideT > img, .slideB > img, .slideS > img, .slideA > img{
  width: 90%;
  height: 100%;
  margin: auto;
  object-fit: cover;
}

.slideT > img{
  width: 100%;
  height: 100%;
  
}
.slideB > img{
  width: 100%;
  height: 100%;
}
.slideS > img{
  width: 70%;
  height: 100%;
}
.slideA1 > img{
  width: 60px;
  height: 100%;
}
.slideA2 > img{
  width: 110px;
  height: 100%;
}
.slideA3 > img{
  width: 80px;
  height: 100%;
}


/* 이미지가 없을 때 */
.slide > .noImgTop{
  /* 크기 */
  width: 90%;
  height: 130px;
  margin: auto;

  /* 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;

  /* border */
  border: 1px solid var(--border);
}

.slide > .noImgBottom{
  /* 크기 */
  width: 90%;
  height: 230px;
  margin: auto;

  /* 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;

  /* border */
  border: 1px solid var(--border);
}

.slide > .noImgShoe{
  /* 크기 */
  width: 90%;
  height: 80px;
  margin: auto;

  /* 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;

  /* border */
  border: 1px solid var(--border);
}

.slide > .noImgAccessory{
  /* 크기 */
  width: 90%;
  height: 130px;
  margin: auto;

  /* 위치 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 30px;

  /* border */
  border: 1px solid var(--border);
}


.ootd_etc{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin-top: 15%;
  width: 120px;
  height: 100px;
  margin-left: 55px;
}

.carousal_etc{
  width:130px;
}


.slide_etc{
  width: 10%;
  height: 10%;
}


.slide_etc > img{
  width: 60%;
  height: 60%;
  margin: auto;
}

/* 버튼 */
.btn {
  width: 10rem;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top:10%;

  /* 컬러 */
  background-color: var(--signiture);
  color: white;
}

.btn>p{
  color: white;
}
.btn p {
  /* 폰트 */
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
}
