:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --signiture: #4570F5;
}

.totalArea{
  /* 위치 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oneCloset{
  /* 크기 */
  width: 330px;
  height: 550px;
  border-radius: 1rem;

  /* 위치 */
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
}
.ootd{
  /* 위치 */
  margin-top: 15%;
  margin-left: 15%;

  /* 크기 */
  width: 120px;
  height: 300px;
}
.carousal{
  /* 크기 */
  width:130px;

  /* 위치 */
  margin-top: -2%;
}
.carousal:nth-child(2){
  /* 위치 */
  margin-top: -20%;
}


.slide{
  /* 크기 */
  width:30%;
  height:30%;
}

.slide > img{
  width: 90%;
  height: 100%;
  margin: auto;
}

.slide > .img{
  width: 90%;
  height: 100%;
  margin: auto;
}


.ootd_etc{
  margin-top: 15%;
  width: 100px;
  height: 100px;
}

.carousal_etc{
  width:130%;
}


.slide_etc{
  width: 10%;
  height: 10%;
}


.slide_etc > img{
  width: 60%;
  height: 60%;
  margin: auto;
}

/* 버튼 */
.btn {
  width: 10rem;
  height: 3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top:5%;
}

.btn:hover{
  background-color: var(--signiture);
  color: white;
}

.btn p {
  /* 폰트 */
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
}