*{
    font-family: 'Pretendard-Regular';
}

/* 전체 */
.line{
    /* 위치 */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* 크기 */
    width: 700px;
    height: 100px;

    /* border */
    border-bottom: 1px solid var(--border);
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);

}

.line>div:nth-child(1){

    flex-grow: 1;
}

.line>div:nth-child(2){

    flex-grow: 3;
}

.line>div:nth-child(3){

    flex-grow: 1;
}

/* 중앙 내용 배치 */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 50px;

    width: 200px;
}

.content > div > p{
    /* p가 block 처럼 한 줄로 차지하고 있었어서 인라인 처리 */
    /* display: inline; */
}

.content > div:nth-child(1)>p:nth-child(1){
    /* 제목 영역 */
    width: 100%;
    height: 100%;
    margin-right: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
}

.content > div:nth-child(2){
    color:grey;
    margin-top: 5px;
}

.redDot{
    /* 위치 */
    position: absolute;
    margin-top: -60px;

    /* 크기 */
    width: 15px;
    height: 15px;
    border-radius: 50%;

    /* 컬러 */
    background-color: red;
    color: white;

    /* 폰트 */
    font-size:10px;
}

/* 왼쪽 */
.profileCircle_G{
    /* 여자 프로필 이미지 */

    /* 위치 */
    width: 40px;
    height: 40px;

    /* 크기 */
    border-radius: 10rem;

    /* 컬러 */
    background-color: white;

    /* border 색상 */
    border-style: solid;
    border-color: pink;
}

.profileCircle_G > img{
    /* 여자 프로필 border 크기 */
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.profileCircle_G > p{
    /* 여자 프로필 border 크기 */
    margin-left: -50%;
    width: 200%;
}
.profile{
    /* 프로필 위치 */
    display: flex;
    justify-content: center;
    align-items: center;

    
}

/* 우측 */
.enterBnt{
    /* 입장 버튼 위치 */
    display: flex;
    justify-content: center;
    padding: 30px;
}
.enterBnt> button{
    /* 입장 버튼 크기 */
    width: 90px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--border);
}

.enterBnt> button:hover{
    /* 입장버튼 호버 시 컬러 */
    background-color: var(--pinkes);
    color: white;
}

.nickname{
    width: 100px;
}
.time{
    width: 100px;
}

.condition{
    display: flex;
    align-items: center;
}
.condition>p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 1rem;
    background-color: var(--pinkes);
    margin-right: 10px;
    font-size: 12px;
}

.roomType{
    width: 50px;
    height: 50px;
    border: 1px solid var(--pinkes);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pinkes);
    border-radius: 1rem;
    margin-left: 30px;
}