.total {
  /* 크기 */
  width: 100%;
  height: 100%;

  /* 위치 */
  display: flex;
  flex-direction: column;
}

.main {
  /* 크기 */
  min-height: 580px;
  max-height: 580px;
  background-color: antiquewhite;

  /* 위치 */
  display: flex;
}

.advisor {
  /* 크기 */
  height: 130px;
  background-color: var(--border);
}

.video {
  /* 크기 */
  min-width: 1000px;
  max-width: 1051px;
  height: auto;
  background-image: url("../../../../public/img/live/background.png");
  background-size: 770px 0px;
  background-color: black;
}

.menu,
.chat {
  /* 크기 */
  /* width: 100px; */
  height: 100%;
  background-color: white;

  /* 위치 */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.chat {
  /* 크기 */
  width: 500px;
  height: 100%;
  background-color: white;
}
