.container{
    /* 위치 */
    display: flex;
}

.left{
    /* 컬러 */
    background-color: white;
    
    /* 크기 */
    width: 350px;
    height: 506px;
    
    /* 위치 */
    padding: 1%;
    margin-right: 1%;

    /* border */
    border: 1px solid lightgrey;
}

.right{
    /* 크기 */
    width: 600px;
    height: 526px;
    
    /* 컬러 */
    background-color: white;
    
    /* 위치 */
    /* padding: 1%; */
    
    /* border */
    /* border-radius: 3%; */
    border: 1px solid lightgrey;
}


/* 왼쪽 피드 스타일 */
.card{
    width: 350px;
    height: 100%;
}
.header{
    /* 위치 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    /* 크기 */
    width: 100%;
    height: 50px;
    padding-bottom: 5%;

}

.header>div:nth-child(1){
    flex-grow: 1;
}

.header>div:nth-child(2){
    flex-grow: 3;
}

.header>div:nth-child(3){
    flex-grow: 1;
}

.content{
    /* 닉네임 위치 */
    text-align: left;
}

.content > div > p{
    /* 폰트 */
    font-weight: 900;
}

/* 프로필 사진 */
.profileCircle_G{
    /* 여자 프로필 이미지 */

    /* 위치 */
    width: 35px;
    height: 35px;

    /* 크기 */
    border-radius: 10rem;

    /* 컬러 */
    background-color: white;

    /* border 색상 */
    border-style: solid;
    border-color: pink;
}

.profileCircle_G > img{
    /* 여자 프로필 border 크기 */
    width: 100%;
    height: 100%;
}

.profile{
    /* 프로필 위치 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
}


/* 버튼 */
.btns{
    /* 대화/라이브버튼 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.btns> div button{
    /* 버튼 크기 */
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    background-color: var(--signiture);
    color: white;
}


.alarmBtn{
    width: 30px;
    height: 100%;
}

.alarmBtn > img{
    width: 80%;
    cursor: pointer;
}


/* 이미지 보이는 영역 */

.image{
    /* 크기 */
    width: 350px;
    height: 320px;

    /* 이미지 박스로써 사이즈 맞추기 */
    overflow: hidden;
}

.slide img{
    /* 크기 */
    width: 100%;
    height: 350px;
    object-fit: cover;

    /* 위치 */
    margin: 0 auto;
}

.content{
    /* 문구 */
    padding: 3%;
    font-weight: 900;
    align-self: center;
    font-size: 12px;
}

.hashtag{
    display: flex;
    padding-left: 2%;
}
.hashtag button {
    width: 50px;
    height: 25px;
    border-radius: 10px;
    border-color: black;
    margin-right: 1%;
    font-size: 12px;

    background-color: var(--signiture);
    color: white;
}

.footer{
    display: flex;
    justify-content: right;
    width: 100%;
    height: 40px;
}

.comment{
    display: flex;
    width: 500px;
    height: 100%;
    font-size: 12px;
}

.comment img{
    width: 7%;
    object-fit: contain;
    cursor: pointer;
}
.comment p{
    align-self: center;
    padding:2%;
}

.feedBtns{
    display: flex;
    align-self: center;
}

.feedBtns button{
    width: 60px;
    height: 20px;
    border-radius: 1rem;
    font-size: 10px;
    margin-right: 3%;

    background-color: var(--border);
}

.feedBtns button:hover{
    background-color: var(--signiture);
    color: white;
}

.date{
    text-align: right;
    font-size: 10px;
    text-align: right;
    padding-right: 3%;
}

/* 오른쪽 컨텐츠 */
.rightHeader{
    display: flex;
    justify-content:space-between;
    padding: 1%;
    align-items: center;
}

.rightHeader p{
    margin-left: 3%;
    font-weight: 900;
    
}

.rightHeader img{
    width: 4%;
    height: 4%;
    margin-right: 3%;
    cursor: pointer;
}

.likeBtns{
    display: flex;
    margin-bottom: 5%;
}

.likeBtns button{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    margin-left: 3%;
}

.lovelyOn, .lovelyOff:hover{
    background-color: var(--lovelyBtn);
    color: white;
}

.lovelyOff,.naturalOff,.modernOff, .sexyOff{
    background-color: lightgrey;
    color: white;
}


.naturalOn, .naturalOff:hover{
    background-color: var(--naturalBtn);
    color: white;
}


.modernOn, .modernOff:hover{
    background-color: var(--modernBtn);
    color: white;
}

.sexyOn, .sexyOff:hover{
    background-color: var(--sexyBtn);
    color: white;
}

.comments{
    display: flex;
    flex-direction: column;

    padding: 0;
}

.commentCnt{
    display: flex;
    height: 45px;
}

.commentCnt > p:nth-child(1){
    font-weight: 900;
    margin-right: 1%;
    margin-left: 3%;
}
.commentCnt > p:nth-child(2){
    font-size: 10px;
    font-weight: 900;
    align-self: flex-end;
}


/* 유저댓글 */
.oneComment{
    /* 전체 댓글 대댓글 */
    width: 600px;
    height: 305px;
}
.cmtLine{
    /* 위치 */
    display: flex;
    flex-direction: column;

    /* border */
    border: 1px solid var(--border);
}

.userInfoWrapper{
    /* 위치 */
    display: flex;
    justify-content: center;

    /* 크기 */
    width: 100%;
    height: 70px;

    /* background-color: var(--border); */
    /* border: 1px solid var(--border); */
}

.userInfo{
    /* 크기 */
    width: 50px;

    /* 위치 */
    align-self: center;
}

.cmtContent{
    /* 크기 */
    width: 500px;
    height: 50px;

    /* 폰트 */
    font-size: 12px;
    font-weight: 900;

    /* 위치 */
    display: flex;
    align-items: center;
    text-align: left;
    align-self: center;
}

.etcBtns{
    display: flex;
    justify-content:space-between;
    
}

.btnAndDate{
    /* 크기 */
    width: 100px;

    /* 위치 */
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: center;

    /* 폰트 */
    font-size: 12px;
}

.btnAndDate >div{
    /* 수정 삭제 버튼 */
    display: flex;
}

.btnDate{
    text-align: center;
    align-self: center;
    height: 20px;
    margin-top: 5px;
}

.rightBtns{
    width: 80px;
    height: 20px;
}
.rightBtns button{
    
    font-size: 12px;
    margin-left: 3%;
    background-color: var(--border);
    width: 50px;
    height: 20px;
}
.rightBtns button:hover{
    background-color: var(--signiture);
    color: white;
}

/* 프로필 사진2 */
.profileCircle_G2{
    /* 여자 프로필 이미지 */

    /* 크기 */
    width: 30px;
    height: 30px;
    border-radius: 10rem;

    /* 컬러 */
    background-color: white;

    /* border 색상 */
    border-style: solid;
    border-color: pink;
}

.profileCircle_G2 > img{
    /* 여자 프로필 border 크기 */
    width: 100%;
    height: 100%;
}

.profile2{
    /* 프로필 위치 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10px;
}


.profile2 p{
    margin: 0;
    font-size: 12px;
}


/* 댓글 쓰기 */
.writeCommentWrapper{
    /* 크기 */
    width: 100%;
    height: 100%;
}
.writeComment{
    /* 위치 */
    display: flex;
    
    /* 크기 */
    width: 100%;
    height: 100%;
}

.writeComment input{
    /* 크기 */
    width: 100%;
    height: 50px;

    /* border */
    border-left: none;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    outline: none;
}
.writeComment button{
    /* 크기 */
    width: 56px;
    height: 53px;

    /* 컬러 */
    background-color: var(--signiture);
    color: white;
}

/* 대댓글 */
.oneReplyTotal{
    border: 1px solid var(--border);
}
.reply{
    display: flex;
    justify-content: right;
    align-items: center;
}

.reply button{
    width: 70px;
    height: 30px;
    font-size: 12px;
    margin-left: 3%;
    background-color: var(--border);
}

.reply button:hover{
    background-color: var(--signiture);
    color: white;
}

.replyTotal{
   /* 위치 */
   display: flex;
   justify-content: right;
}

.oneReplyStyle{
    /* 위치 */
    display: flex;

    /* 크기 */
    width: 550px;
    height: 50px;

}

.profile3{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.replyContent{
    width: 300px;
}

/* 대댓글 프로필 3 */
.profileCircle_G3{
    /* 여자 프로필 이미지 */

    /* 크기 */
    width: 30px;
    height: 30px;
    border-radius: 10rem;

    /* 컬러 */
    background-color: white;

    /* border 색상 */
    border-style: solid;
    border-color: pink;
}

.profileCircle_G3 > img{
    /* 여자 프로필 border 크기 */
    width: 100%;
    height: 100%;
}


.profile3 p{
    margin: 0;
    font-size: 12px;
}

.replyContent{

    /* 위치 */
    padding: 3%;
    align-self: center;
    text-align: left;
    
    /* 폰트 */
    font-weight: 900;
    font-size: 12px;
}

.repleBtnsAndTime{
    display: flex;
    flex-direction: column;
    margin-right: 2%;
}

.repleBtns{
    display: flex;
    justify-content: right;
}

.repleBtns button{
    /* 크기 */
    width: 30px;
    height: 20px;

    /* 폰트 */
    font-size: 10px;
    margin-left: 1px;

    background-color: var(--border);
}

.repleBtns button:hover{
    background-color: var(--signiture);
    color: white;
}

.repleBtnsAndTime p{
    width: 100%;
    font-size: 10px;
    text-align: right;
    margin: 0;

    margin-bottom: 5px;
    margin-top: 3px;
}