*{
    font-family: 'Pretendard-Regular';
}

/* 전체 */
.line{
    /* 위치 */
    display: flex;
    flex-direction: row;

    /* 크기 */
    width: 220px;
    height: 90px;

    /* border */
    border-bottom: 1px solid var(--border);
}

.line>div:nth-child(1){
    flex-grow: 1;
}

.line>div:nth-child(2){
    flex-grow: 3;
}

.line>div:nth-child(3){
    flex-grow: 1;
}


/* 중앙 내용 배치 */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 20px;
}

.content > div > p{
    /* p가 block 처럼 한 줄로 차지하고 있었어서 인라인 처리 */
    display: inline;
}

.content > div:nth-child(1)>p:nth-child(1){
    /* 유저 닉네임 영역 */
    /* margin-right: 10px; */
    font-size: 12px;
    font-weight: 900;
}


/* 왼쪽 */
.profileCircle_G{
    /* 여자 프로필 이미지 */

    /* 위치 */
    width: 30px;
    height: 30px;

    /* 크기 */
    border-radius: 10rem;

    /* 컬러 */
    background-color: white;

    /* border 색상 */
    border-style: solid;
    border-color: grey;
}

.profileCircle_G > img{
    /* 여자 프로필 border 크기 */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover;
}

.profile{
    /* 프로필 위치 */
    display: flex;
    justify-content: center;
    padding-top: 3%;
    align-items: center;
}


/* 우측 */
.enterBnt{
    /* 대화/라이브버튼 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enterBnt> button{
    /* 버튼 크기 */
    width: 60px;
    height: 20px;
    border-radius: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    border: 1px solid var(--border);
    background-color: var(--border);
}

.enterBnt> button:hover{
    /* 입장버튼 호버 시 컬러 */
    background-color: var(--pinkes);
    color: white;
}

.profileImgF{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid pink;
}

.profileImgM{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid lightskyblue;
}

.profileImgF>img, .profileImgM>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}