.header_total{
    /* 크기 */
    width: 100%;
    height: 50px;
    /* 위치 */
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    /* border */
    border-bottom: 1px solid var(--border);
    
}

.etcMenu{
    display: flex;
    margin-right: 3%;
    font-weight: 900;
}
.etcMenu > div{
    /* 내 옷장 마이페이지 */
    width: 70px;
    margin-right: 0;
    cursor: pointer;
}

.etcMenu > div:hover{
    color:var(--signiture);
}

.header_logo > img{
    width: 70%;
    margin-left: 3%;
}
.navbarContainer {
    /* 위치 */
    position: relative;
}
    
.navbar {
    /* 크기 */
    width: 200px;
    height: 350px;

    /* 위치 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
    
.activeMenuBlock {
    /* 폰트 */
    font-family: 'Pretendard-Regular';

    /* 위치 */
    position: absolute;
    top: 0;

    /* 크기 */
    height: 70px;
    width: 200px;

    /* 컬러 */
    background-color: var(--border);

    /* 동적요소 */
    transition: left 0.3s ease;

    border-radius: 10px;
}
    
.activeMenuBlock.active {
    z-index: 0;
}
  
.activeMenuBlock.active h2 {

    /* 컬러 */
    color: #ffffff;

    /* 위치 */
    position: absolute;
    bottom: 50%;
    left: 50%;

    /* 동적 */
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease;

    /* 폰트 */
    font-size: 15px;
}
    
.activeMenuBlock h2 {
    /* 컬러 */
    /* color: #ffffff; */

    /* 폰트 */
    font-size: 15px;

    /* 위치 */
    padding: 15px;
}
    
  
  
/* 버튼 */
button{
    /* 폰트 */
    font-family: 'Pretendard-Regular';
    font-weight: 700;

    /* border */
    border: none;

    /* 폰트 */
    font-size: 15px;
    color: grey;

    /* 크기 */
    width: 180px;
    height: 85px;

    /* 커서 */
    cursor: pointer;

    background-color: white;
}