.wrapper{
    height: 100%;
}
.header_total{
    /* 크기 */
    width: 100%;
    height: 50px;
    /* 위치 */
    position: sticky;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    /* border */
    border-bottom: 1px solid var(--border);

    /* background-color: var(--pinkes); */
    
}

.etcMenu{
    display: flex;
    margin-right: 3%;
    font-weight: 900;
}
.etcMenu > div{
    /* 내 옷장 마이페이지 */
    width: 70px;
    margin-right: 0;
    cursor: pointer;
    /* color: white; */
}

.etcMenu > div:hover{
    color:var(--pinkes);
}

.header_logo{
    cursor: pointer;
}

.header_logo > img{
    width: 200px;
    height: 100px;
    margin-top: -30px;
    margin-left: 10%;
    cursor: pointer;
}
.navbarContainer {
    /* 위치 */
    position: sticky;
    top: 0;
}
    
.navbar {
    /* 크기 */
    width: 200px;
    height: 420px;

    /* 위치 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 180px;
}
    
.activeMenuBlock {
    /* 폰트 */
    font-family: 'Pretendard-Regular';

    /* 위치 */
    position: absolute;
    top: 0;

    /* 크기 */
    height: 70px;
    width: 200px;

    /* 컬러 */
    background-color: var(--border);

    /* 동적요소 */
    transition: left 0.3s ease;

    border-radius: 10px;
}
    
.activeMenuBlock.active {
    z-index: 0;
}
  
.activeMenuBlock.active h2 {

    /* 컬러 */
    color: #ffffff;

    /* 위치 */
    position: absolute;
    bottom: 50%;
    left: 50%;

    /* 동적 */
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease;

    /* 폰트 */
    font-size: 20px;
}
    
.activeMenuBlock h2 {

    /* 폰트 */
    font-size: 15px;

    /* 위치 */
    padding: 25px;
}
    
  
  
/* 버튼 */
button{
    /* 폰트 */
    font-family: 'Pretendard-Regular';
    font-weight: 700;

    /* border */
    border: none;

    /* 폰트 */
    font-size: 15px;
    color: grey;

    /* 크기 */
    width: 300px;
    height: 85px;

    /* 커서 */
    cursor: pointer;

    background-color: white;
}


/* 푸터 스타일 */
.footer{
    display: flex;
    flex-direction: column;
    

    height: 150px;

    /* border */
    border-top: 1px solid var(--border);
}

.logos{
    display: flex;
    /* flex-direction: column; */
    margin-left: 100px;
    
    height: 100%;
    margin-top: 50px;
}
.butterfly{
    width: 5%;
    height: 100%;
    margin-left: 30px;
}
.logo{
    width: 30%;
    height: 100%;
    margin-left: 5%;
}
.name{
    margin-left: 95px;
    /* margin-top: 30px; */
    text-align: left;
}


/* 메뉴 */
.menuBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--border); */
    border-radius: 1rem;
}
.menuBtn>div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.menuBtn>div>img{
    width: 100%;
    height: 100%;
}
.menuBtn>p{
    font-size: 20px;
}