.total{
    /* 크기 */
    width: 100%;
    height: 100%;

    /* 위치 */
    display: flex;
    flex-direction: column;
}


/* 채팅 */
.chatHeader{
    /* 크기 */
    width: 300px;
    height: 50px;
    background-color: var(--signiture);

    /* 폰트 */
    font-size: 20px;
    font-weight: 900;
    color: white;

    /* 위치 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;


}

.chatArea{
    /* 높이 */
    width: 300px;
    height: 470px;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
}

.mainChatArea{
    /* background-color: salmon; */
    width: 100%;
    display: flex;
}

.chatContent{
    /* 위치 */
    display: flex;
    /* 크기 */
    /* height: 50px; */
}

.chatContent>form>input{
    /* 크기 */
    width: 248px;
    height: 50px;
    padding-left: 10px;

    /* border */
    border: none;
    outline: none;
    border: 1px solid var(--border);
}

.chatContent>form>button{
    /* 크기 */
    width: 50px;
    height: 50px;

    /* 컬러 */
    background-color: var(--signiture);
    color: white;
}

.chatArea > div{
    /* 본문 */
    /* height: 50px; */
    margin-bottom: 10px;
}