.total{
    display: flex;
    justify-content: center;
    height: 130px;
}

.onePeople{
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profileImg{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid pink;
}
.badge{
    position: absolute;
    top: 570px;
    margin-left: 5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aquamarine;
}
.nickname{
    width: 90px;
    height: 30px;
    background-color: pink;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
}