.total{
    position: absolute;
    left: 70px;
    top: 500px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 150px;
    z-index: 10;
    /* background-color: white; */
}

.onePeople{
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.profileImgF{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid pink;
}

.profileImgM{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid lightskyblue;
}

.profileImgF>img, .profileImgM>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.badge{
    position: absolute;
    top: 570px;
    margin-left: 5%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-color: aquamarine; */
}

.badge>img{
    width: 100%;
    height: 100%;
}



/* 닉네임 색깔 */

.nickname_NO{
    width: 90px;
    height: 30px;
    background-color: grey;
    color: white;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
    margin-top: -15px;
}

.nickname_LOVELY{
    width: 90px;
    height: 30px;
    background-color: var(--lovelyBtn);
    color: white;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
    margin-top: -15px;
}

.nickname_NATURAL{
    width: 90px;
    height: 30px;
    background-color: var(--naturalBtn);
    color: white;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
    margin-top: -15px;
}

.nickname_MODERN{
    width: 90px;
    height: 30px;
    background-color: var(--modernBtn);
    color: white;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
    margin-top: -15px;
}

.nickname_SEXY{
    width: 90px;
    height: 30px;
    background-color: var(--sexyBtn);
    color: white;
    line-height: 30px;
    font-weight: 900;
    font-size: 13px;
    margin-top: -15px;
}
