@font-face {
    font-family: 'LeferiPoint-BlackObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbarContainer {
    /* 위치 */
    position: relative;
}
    
.navbar {
    /* 크기 */
    width: 200px;
    height: 510px;

    /* 위치 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;

    /* 컬러 */
    /* background-color: #f0f0f0; */
}
    
.activeMenuBlock {
    /* 폰트 */
    font-family: 'Pretendard-Regular';

    /* 위치 */
    position: absolute;
    top: 0;

    /* 크기 */
    height: 85px;
    width: 180px;

    /* 컬러 */
    background-color: var(--border);

    /* 동적요소 */
    transition: left 0.3s ease;

    border-radius: 10px;
}
    
.activeMenuBlock.active {
    z-index: 0;
}
  
.activeMenuBlock.active h2 {

    /* 컬러 */
    color: #ffffff;

    /* 위치 */
    position: absolute;
    bottom: 50%;
    left: 50%;

    /* 동적 */
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 1;
    transition: opacity 0.3s ease;

    /* 폰트 */
    font-size: 15px;
}
    
.activeMenuBlock h2 {
    /* 컬러 */
    /* color: #ffffff; */

    /* 폰트 */
    font-size: 15px;

    /* 위치 */
    padding: 35px;
}
    
  
  
/* 버튼 */
button{
    /* 폰트 */
    font-family: 'Pretendard-Regular';
    font-weight: 700;

    /* border */
    border: none;

    /* 폰트 */
    font-size: 15px;
    color: grey;

    /* 크기 */
    width: 180px;
    height: 85px;

    /* 커서 */
    cursor: pointer;

    background-color: white;
}


/* 사이드 바 */


/* 사이드바 구현 */
.sidebar{
    display: flex;
    width: 70px;
    height: 510px;
    background-color: var(--signiture);
}

.sidebar > div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--signiture);
}

.sidebar > div > button{
    width: 70px;

    background-color: var(--signiture);
}

.sidebar > div > button > img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menuContent{
    position: absolute;
    width: 360px;
    height: 650px;
    background-color: white;
    z-index: 100;
}

.contentHeader{
    display: flex;
    justify-content: center;
    align-self: center;

    margin-top: 30px;
}

.contentHeader > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 30px;
}

.contentHeader > img{
    cursor: pointer;
}

.contentHeader > div > p{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 50px;

    font-weight: 900;

    background-color: var(--signiture);
    border-radius: 1rem;
    color: white;
}

.closetList1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;
    width: 100%;
    height: 500px;

    overflow: auto;
}

.closetList2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;
    width: 100%;
    height: 450px;

    overflow: auto;
}

.closetList3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;
    width: 100%;
    height: 480px;

    overflow: auto;
}

.clothItem{
    margin-left: 10px;
    margin-top: 10px;
    width: 100px;
    height: 120px;
    background-color: white;

}

.noItem{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.clothItem2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}

.clothItem>div{
    /* PICK */
    position: relative;
    margin-top: -120px;
    margin-left: 5px;
    width: 50px;
    background-color: var(--signiture);
    border-radius: 1rem;
    color: white;
}

.clothItem2>div{
   /* PICK */
   position: relative;
   top:-90%;
   left: -110px;
   width: 50px;
   background-color: var(--signiture);
   border-radius: 1rem;
   color: white;
}

/* 새로 추가한 스타일 */


.clothItem>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid black;
}

.clothItem2>img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 1px solid black;
    margin-bottom: 3%;
}

.clothItem>img:hover, .clothItem2>img:hover{
    border: 1px solid var(--signiture);
    
    transform: scale(1.1); /* 이미지를 1.1배 확대 */
    z-index: 1; /* 이미지를 다른 내용 위로 올림 */
}


/* 옷 검색 */
.search{
    display: flex;
    justify-content: center;
     
    margin-top: 30px; 
}

.search>input{
    width: 200px;
    height: 30px;
    border-radius: 1rem;
    outline: none;
    margin-right: 3%;
    padding-left: 3%;
}

.search > button{
    width: 50px;
    height: 30px;
    background-color: var(--signiture);
    color: white;
    border-radius: 5px;
}

.statement{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 200px;
    height: 30px;
    /* padding: 10px 20px; 여백 설정 */
    margin-left: 80px;
    color: white; /* 글자 색상 설정 */
    font-weight: bold; /* 글자 두께 설정 */
}
.statement>p{

    font-family: 'LeferiPoint-BlackObliqueA';
    font-size: 25px;
    margin-right: 5px;
    margin-top: 15px;
    color: rgb(231,194,177);
}

.statement2{
    margin-top: 5px;
    color: rgb(231,194,177);

    color: white; /* 글자 색상 설정 */
    font-weight: bold; /* 글자 두께 설정 */
}



/* 세트 전송 */
.set{
    display: flex;
    width: 320px;
    height: 470px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    background-color: rgb(210, 179, 161);
}

.noset{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 200px;
    font-weight: 900;
}
.noset > img{
    width: 100%;
    height: 100%;
}

.mainClothes{
    align-items: center;
    justify-content: center;
    width:120px;
    height: 400px;
    margin-top: 80px;
    margin-left: 50px;
}

.subClothes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100px;
    height: 400px;
    margin-top: 80px;
    margin-left: 10px;
}

.top{
    width: 120px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 5px;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); 
}
.bottom{
    width: 120px;
    height: 210px;
    object-fit: contain;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.shoe{
    width: 120px;
    height: 40px;
    object-fit: contain;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.acc1{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    object-fit: contain;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.acc2{
    width: 100px;
    height: 120px;
    margin-bottom: 70px;
    object-fit: contain;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}
.acc3{
    width: 100px;
    height: 100px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.top>img, .bottom>img, .shoe>img,
.acc1>img, .acc2>img, .acc3>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.closeBtn{
    display: flex;
    margin-top: 10px;
    margin-left: 320px;
    cursor: pointer;
}
.submit > button{
    width: 90px;
    height: 30px;
    border-radius: 1rem;
    background-color: white;
    color: black;
}

.submit > button:hover{
    background-color: rgb(210, 179, 161);
    color: white;
}