
.stream-container {
	padding: 0;
}
/* 버튼을 둘러싼 div */
.buttons {
	width: 50%;
	position: absolute;
	top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
	justify-content : space-evenly;
	display: flex;
	/* flex: auto; */
	text-align: center ;
}

img{
	height: 30px;
	/* width: 60px; */
	border: none;
}
.activeButton {
	
	height: 40px;
	width: 130px;
	border-radius: 10px;
	margin: auto 0 ;
	background-color: rgb(127, 243, 127);
}
.disableButton {
	height: 40px;
	width: 130px;
	border-radius: 10px;
	margin: auto 0 ;
	background-color: rgb(232, 119, 104);
}
